.form-horizontal
    fieldset
        #legend
          legend New Rental
        .control-group
          label.control-label(for='apartmentName') Apartment Name
          .controls
                input#apartmentName.input-xlarge(type='text', name='apartmentName', placeholder='')
        .control-group
          label.control-label(for='ownerType') Owner/Broker
          .controls
                input#ownerType.input-xlarge(type='text', name='ownerType', placeholder='')
        .control-group
          label.control-label(for='rent') Rent
          .controls
                input#rent.input-xlarge(type='text', name='rent', placeholder='')
        .control-group
          label.control-label(for='ownerName') Owner Name
          .controls
                input#ownerName.input-xlarge(type='text', name='ownerName', placeholder='')
        .control-group
          label.control-label(for='ownerPhone') Owner Phone
          .controls
                input#ownerPhone.input-xlarge(type='text', name='ownerPhone', placeholder='')
        .control-group
          label.control-label(for='location') Location
          .controls
                input#location.input-xlarge(type='text', name='location', placeholder='')
        .control-group
          label.control-label(for='location') Ad Url
          .controls
                input#webPage.input-xlarge(type='text', name='webPage', placeholder='')
        .control-group
          .controls
                button#create.btn.btn-success Submit