extends layout

block content
      div.container
          h1
            a(href='#') Rentals Site
          .navbar
            .navbar-inner
               .container
                 ul.nav
                   li#rentals.active
                      a(href='#') Rentals
                   li#newRental
                      a(href='#') New

           div#contentArea.hero-unit.row
         script
           $(document).ready(function() {
               Rentals.init();
           });