doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="stylesheet" type="text/css" href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css">
    script(type='text/javascript', src='/javascripts/lib/jquery-2.0.3.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap/bootstrap.js')
    script(type='text/javascript', src='/javascripts/lib/ICanHaz.min.js')
    script(type='text/javascript', src='/javascripts/template/template.js')
    script(type='text/javascript', src='/javascripts/Rentals.js')
  body
    block content